<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

    <!-- 1.创建目标类 -->
    <bean id="targetObject" class="com.kunlab.Spring5.aop.aspectj.xml.Boy" />

    <!-- 2.创建切面类 -->
    <bean id="buyAspectJ" class="com.kunlab.Spring5.aop.aspectj.xml.BuyAspectJ" />

    <aop:config>
        <aop:aspect ref="buyAspectJ"> <!-- 3.1 将切面类声明为切面 -->
            <!-- 3.2 声明切入点 -->
            <aop:pointcut id="buyPointCut" expression="execution(* com.kunlab.Spring5.aop.aspectj.xml.IBuy.*(..))"/>

            <!-- 3.3 前置通知 -->
            <aop:before method="before" pointcut-ref="buyPointCut"/>
            <aop:after method="after" pointcut-ref="buyPointCut"/>
            <aop:around method="around" pointcut-ref="buyPointCut"/>
        </aop:aspect>
    </aop:config>
</beans>
